
/* Design du header*/
.menu
{
	background-color: brown;
	height: 60px;
	/* pour centrer le contenu du header et faire en sorte qu'il ne dépasse pas la hauteur*/
	line-height: 60px;
	border-bottom:none;
	margin-bottom: 0px;
}

.droite li
{

	padding-right: 15px;
}

.droite li a
{

	text-
}










