@charset "UTF-8";

body
{
    background-color: #A9A9A9; 
}

.container-fluid{
    padding : 0px; 
}

.item{
    padding-top: 0%; 
    width: 100%;
    max-width: 100%;
}

.gestion_item{
    
    float : none; 
    padding-top: 5%;
    padding-left: 5% ; 
    margin: auto; 
    border: 2px solid GREY;
    background-color: #FAFAFA; 
    padding-bottom : 5%;
}

.photo_article{
    padding-top: 3%; 
    
}

.retour_bouton{
    float : none; 
    padding-top: 5%;
    padding-left: 5% ; 
    margin: auto; 
    border: 2px solid GREY;
    background-color: #FAFAFA; 
    padding-bottom : 5%;

}