@charset "UTF-8"

body, html { 
	padding: 0px; 
	margin: 0px; 
	
} 

body
{
	background-color: #A9A9A9; 
}

.container-fluid{

	padding : 0px;
}

.separateur
{ 
	height : 5px;
	width: 40%;
	border: none;
	box-shadow: none;
	background-color: #E8392E;
}

.red{
    color:red;
    }



.form-area
{
    background-color: #FAFAFA;
	padding: 10px 10px 60px;
	margin: 35px 500px 60px;
	border: 1px solid GREY;


}

/* Pas très important : enlevement du soulignage des liens*/
.footer
{	

	background-color: #222; 
	color: #ccc; 
	padding: 60px 0 30px; 
	
}

.footer-copyright { 
	color: #666; 
	padding: 40px 0; 
}

.btn{

	margin-top: 10px; 
	width: 100%;
}




