@charset "UTF-8";

body
{
    background-color: #A9A9A9; 
}

.container-fluid{
    padding : 0px; 
}

.coucou{
    padding-top: 0%; 
    width: 100%;
    max-width: 100%;
}

.image_fond{

    width:100%;
    max-width:100%;
}

.image_fond img {

    width:100%;
    max-width:100%;
}

.photo_profil{

    position: absolute; 
    top: 40%;
    width:100%;
    text-align: center; 
}

.centre_profil{
    padding-top: 5%;
    float : none; 
    margin: auto; 
    border: 2px solid GREY;
    background-color: #FAFAFA;
    padding-bottom : 5%;
}

.bouton_gestion_item{
    padding-top: 5%;
    float : none; 
    margin: auto; 
    border: 2px solid GREY;
    background-color: #FAFAFA;
    text-align : center; 
    padding-bottom : 5%;
}

